<div class="main_container">

    <app-weather-card></app-weather-card>

    <app-add-card></app-add-card>

    <!-- This goes to another component, type city and it will make that city request to the database-->
   
            <!-- <p class="search-text"><span class="search-location-text">What's the weather like in <input id="search-location-input" class="search-location-input" type="text" placeholder="City"> ?</span></p>
            <div class="search-location-button-group">
                <button id="search-location-button" class="fa fa-search search-location-button search-button"></button>
               <button id="geo-button" class="geo-button fa fa-location-arrow search-button"></button>
            </div> -->
        

    </div>
